
body {
    margin: 0px;
    font-size: small;
    background-color: #f0f0f0;
    color: #000000;
}

body {
    word-break: break-word;
    word-wrap: break-word;
}

div {
    display: block;
}

#content-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0;
    margin-left: 5px;
}

#main {
    float: left;
    padding: 0px;
    width: 67%;
    font: normal normal 100% 'TrebuchetMS', verdana, sans-serif;
    word-wrap: break-word;
    overflow: hidden;
}

#sidebar {
	text-transform: none;
	background-color: #ffffff;
	color: #000000;
	padding-left: 20px;
	width: 30%;
	float: right;
	font: normal normal 100% 'TrebuchetMS', verdana, sans-serif;
	word-wrap: break-word;
	border-left: 2px dashed #000000;
	overflow: hidden;
}

h1 {
    font-size: 240%;
    line-height: 125%;
    padding-left: 0px;
    text-align: center;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0.83em;
	margin-inline-end: 0.83em;
	
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

/*
::mark {
	display: none;
	unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
*/

.descriptionwrapper {
    margin-left: 30px;
}

.description {
    text-align: left;
    padding-top: 10px;
    padding-left: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.blog-posts {
    margin-left: 30px;
}

.post {
    padding-left: 0px;
    margin-bottom: 20px;
    text-indent: 0px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #0066ff;
}

h1.post-title, h1.entry-title {
    font-size: 160%;
    font-weight: bold;
    text-align: left;
}

a:visited {
    color: #800080;
}

.post-footer {
    margin-left: 0px;
    font-size: 100%;
}

.post-timestamp, .post-comment-link, .post-labels {
    margin-right: 12px;
}

.post-toolbar {
    margin-bottom: 30px;
}

.comment-link {
    white-space: nowrap;
}

a:-webkit-any-link {
    cursor: pointer;
}

.post-share-buttons {
    position: relative;
}

.post-share-buttons {
    margin-top: .5em;
    vertical-align: middle;
}

#blog-pager {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

#blog-pager {
    margin: 1em 0;
    overflow: hidden;
}

#blog-pager-older-link {
    float: right;
}

div.clear {
    clear: both;
}

.sidebar .widget {
	padding-top: 4px;
	padding-right: 8px;
}

script {
	display: none;
}

style {
	display: none;
}

#bottom-tip {
	display: none;
	border: 1px solid SlateGray;
	background-color: silver;
	text-align: center;
	font-size: 125%;
	z-index: 1024;
	position: fixed;
	left: 0;
	width: 100%;
	height: 64px;
	line-height: 64px;
}

#side-toolbar {
	display: none;
	border: 1px solid SlateGray;
	background-color: LightGray;
	z-index: 1024;
	position: fixed;
	top: 50%;
	margin-top: -60px;
	left: 100%;
	margin-left: -38px;
	padding: 3px;
	width: 38px;
	font-size: 15px;
}

#side-toolbar div {
	width: 32px;
	margin: 0px;
	padding: 0px;
	border: none;
	height: 32px;
}

#side-toolbar .go-comments {
	text-align: center;	
	background: url(https://lh5.googleusercontent.com/xG1s7ZZY2PP5W-Mm6TpxZylaN0HaP1xTFXiz64rbmmdPeHvKcAOfFAjVNA5NsX-ku3MKFiqwWO8jPdz0hK04ADiABoeOjvZD2AlOsSN6bczTigCJznEFvMNY3VwceQ9nBASw9Owzy3c) no-repeat scroll 0px 0px transparent;
}

img {
	overflow-clip-margin: content-box;
	overflow: hidden;
}

#sidebar a {
	color: #0066FF;
}

#sidebar a:visited {
	color: #800000;
}

.sidebar h2 {
	font-weight: bold;
	font-size: 120%;
	color: #000000;
}

form {
	display: block;
	margin-top: 0em;
}

/*
input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
*/




